*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.osnova {
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.dntmttr{
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.your {
    text-align: center;
    line-height: 70px;
}
.music{
    text-align: center;
}
.li{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.a1, .a2, .a3, .a4, .a5, .a6{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.a1:hover{
    color: rgb(122, 116, 116);
}
.a2:hover{
    color: rgb(122, 116, 116);
}
.a3:hover{
    color: rgb(122, 116, 116);
}
.a4:hover{
    color: rgb(122, 116, 116);
}
.a5:hover{
    color: rgb(122, 116, 116);
}
.a6:hover{
    color: rgb(122, 116, 116);
}

.osnova{
    height: 1000px;
}

.dntmttr{
    height: 400px;
}

.image{
    background-image: url(1.jpg);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-size: cover;
}


